.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main {
  margin: 0 7%;
  min-height: 100vh;
}
@media screen and (max-width: 610px) {
  .main {
    margin: 0 5%;
  }
}
