.screen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main{
  padding: 0 7%;
  min-height: 100vh;
}
@media screen and (max-width: 550px) {
  .main{
    margin: 0 5.5%;
  }
}