.home-cover{
  width: 100%;
  height: 223px;
  object-fit: cover;
  border-radius: 25px;
  margin-bottom: 30px;
  filter: brightness(70%);
}
.home-title{
  height: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 48px;
  color: white;
  position: relative;
  bottom: 170px;
}
.card-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #F6F6F6;
  border-radius: 25px;
  padding: 56px 0;
  margin-bottom: 50px;
}

@media screen and (max-width: 610px) {
  .home-cover{
    height: 111px;
  }
  .home-title{    
    width: 230px;
    margin: 10px;
    text-align: left;
    font-size: 24px;
    bottom: 130px;
  }
}