.card{
  width: 27%;
  min-width: 340px;
  height: 340px;  
  padding: 25px 0;
}
.card img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(80%)
}
.card h2{
  font-size: 18px;
  width: 90%;
  height: 0px;
  text-decoration: none;
  color: white;
  position: relative;
  bottom: 80px;
  left: 19px;
}
@media screen and (max-width: 1280px) {
  .card{
    width: 45%;
    min-width: 300px;
    height: 300px;
    padding: 15px 0; 
  } 
}

@media screen and (max-width: 750px) {
  .card{
    width: 100%;
    height: 255px;
    min-width: 0;
    padding: 10px 0; 
  } 
}