.card h2{
 font-size: 18px;
 width: 320px;
 height: 0px;
 text-decoration: none;
 color: white;
 position: relative;
 bottom: 70px;
 left: 10px;
}
.card img{
  height: 340px;
  width: 340px;
  border-radius: 10px;
  object-fit: cover;
  filter: brightness(80%)
}