.header{
  width: 100%;
  height: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link{
  color: #FF6060;
  margin-left: 57px;
  text-decoration: none;
  font-size: 24px;
}
.curent-link{
  text-decoration: underline;
}
.header-logo{
  height: 68px;
}