.gallery{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.gallery .fa-solid{
  width: 0;
  font-size: 85px;
  color: white;
  cursor: pointer;
  position: relative;  
}
.gallery .fa-chevron-left{
  left: 20px;
}
.gallery .fa-chevron-right{
  right: 73.13px;
}
.gallery-cover{
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
  z-index: -1;
  
}

@media screen and (max-width: 610px) {
  .gallery{
    margin-bottom: 15px;
  }
  .gallery-cover{
    height: 255px;
    border-radius: 10px;
  }
  .gallery .fa-solid{
    font-size: 25px;
  }
  .gallery .fa-chevron-left{
    left: 6px;
  }
  .gallery .fa-chevron-right{
    right: 21.63px;
  }
}