.error-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ff6060;
  margin-top: 100px;
}
.error-box h1 {
  font-weight: 700;
  line-height: 288px;
  font-size: 288px;
  margin: 0;
  margin-bottom: 66px;
}
.error-box p {
  font-size: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 182px;
}
.error-box .link {
  font-size: 18px;
  color: #ff6060;
}

@media screen and (max-width: 610px) {
  .error-box {
    margin-top: 180px;
    margin-bottom: 0;
  }
  .error-box h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    margin-bottom: 11px;
  }
  .error-box p {
    font-size: 18px;
    margin-bottom: 133px;
  }
  .error-box .link {
    font-size: 14px;
  }
}
